<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Add Habit - Smart Habit Tracker</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background:#000080;" class="d-flex flex-column min-vh-100">

<!-- NAVBAR -->

<nav class="navbar navbar-dark" style="background:#2563EB;">
<div class="container-fluid">

<a class="navbar-brand" href="/dashboard">SmartHabit</a>

<div class="container-fluid" >
<a href="/dashboard" class="btn btn-light btn-sm">Dashboard</a>
<a href="/" class="btn btn-danger btn-sm">Logout</a>
</div>

</div>
</nav>

<div class="container-fluid mt-5">

<div class="row justify-content-center" >

<div class="col-md-6">

<div class="card shadow p-4">

<h3 class="text-center mb-4">Create New Habit</h3>

<form action="/add_habit" method="POST">

<!-- Habit Name -->

<div class="mb-3 container-fluid">
<label class="form-label">Habit Name</label>
<input type="text" name="habit_name" class="form-control" placeholder="Example: Drink Water" required>
</div>

<!-- Habit Description -->

<div class="mb-3 container-fluid" >
<label class="form-label">Description</label>
<textarea name="description" class="form-control" rows="3"
placeholder="Why is this habit important?"></textarea>
</div>

<!-- Category -->

<div class="mb-3 container-fluid">
<label class="form-label">Category</label>
<select name="category" class="form-control">

<option>Health</option>
<option>Fitness</option>
<option>Productivity</option>
<option>Learning</option>
<option>Personal Growth</option>

</select>
</div>

<!-- Reminder Time -->

<div class="mb-3">
<label class="form-label">Reminder Time</label>
<input type="time" name="reminder_time" class="form-control">
<small class="text-muted">Choose the time you want to be reminded</small>
</div>

<!-- Priority -->

<div class="mb-3">
<label class="form-label">Priority</label>

<select name="priority" class="form-control">
<option>Low</option>
<option>Medium</option>
<option>High</option>
</select>

</div>

<!-- Submit -->

<button type="submit" class="btn btn-success w-100">
Add Habit
</button>

</form>

</div>

</div>

</div>

</div>

</body>

</html>
