<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dashboard - Smart Habit Tracker</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background:#000080;" class="d-flex flex-column min-vh-100">


<nav class="navbar navbar-dark" style="background:#2563EB;">
<div class="container-fluid">

<a class="navbar-brand fs-1">SmartHabit Dashboard</a>

<div class="container-fluid">
<a href="/add_habit" class="btn btn-success btn-sm fs-3">Add Habit</a>
<a href="/" class="btn btn-light btn-sm fs-3">Logout</a>
</div>

</div>
</nav>

<div class="container-fluid mt-4">

<h2 class="mb-4 text-light fs-1">Welcome Back 👋</h2>

<div class="row">

<a href="/add_habit" class="btn btn-success mb-3 fs-1">
Add New Habit
</a>

<div class="col-md-4">
<div class="card shadow p-3">

<h5 class="fs-1">Habit Completion</h5>

<canvas id="pieChart" class="fs-1"></canvas>

</div>
</div>

<div class="col-md-8 fs-1">
<div class="card shadow p-3">

<h5 class="fs-1">Consistency Trend</h5>

<canvas id="lineChart" class="fs-1"></canvas>

</div>
</div>

</div>

<div class="row mt-4">

<div class="col-md-8">
<div class="card shadow p-3">

<h5 class="fs-1">Today's Habits</h5>

<ul class="list-group fs-1">

<li class="list-group-item d-flex justify-content-between fs-1">
Drink Water
<button class="btn btn-success btn-sm fs-1">Done</button>
</li>

<li class="list-group-item d-flex justify-content-between">
Workout
<button class="btn btn-success btn-sm fs-1">Done</button>
</li>

<li class="list-group-item d-flex justify-content-between">
Read Book
<button class="btn btn-success btn-sm fs-1">Done</button>
</li>

</ul>

</div>
</div>

<div class="col-md-4">
<div class="card shadow p-5 text-center">

<h5 class="fs-1">Current Streak 🔥</h5>

<h1>7 Days</h1>

<p class="text-muted fs-1">Keep going!</p>

</div>
</div>

</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const pie = document.getElementById('pieChart');

new Chart(pie, {
type: 'pie',
data: {
labels: ['Completed','Remaining'],
datasets: [{
data: [3,2]
}]
}
});

const line = document.getElementById('lineChart');

new Chart(line, {
type: 'line',
data: {
labels: ['Mon','Tue','Wed','Thu','Fri'],
datasets: [{
label:'Consistency',
data:[1,2,3,2,4]
}]
}
});

</script>

</body>
</html>
