<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Habit Tracker</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background:#000080;" class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg" style="background:#0047ab;">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold fs-1" href="/">SmartHabit</a>

    <div>
        <a href="/login" class="btn btn-light me-2 fs-3">Login</a>
        <a href="/register" class="btn btn-success fs-3">Register</a>
    </div>
</div>

</nav>


<div class="container-fluid mt-5">

<div class="row align-items-center">

    <div class="col-md-7">

        <h1 class="fw-bold text-light" style="font-size:120px; padding:20 0 0 10;">
            Smart Habit Consistency Tracker
        </h1>

        <p class="lead text-light fs-1">
            Build discipline, track your habits, and stay consistent every day.
            Small actions repeated daily create powerful results.
        </p>

        <a href="/register" class="btn btn-success btn-lg me-1 fs-1">
            Get Started
        </a>

        <a href="/login" class="btn btn-outline-light btn-lg fs-1">
            Login
        </a>

    </div>




</div>


</div>


<div class="container-fluid mt-5">

<div class="row text-center">

    <div class="col-md-3 fs-1">

        <div class="card p-5 fs-1">

            <h4 class="fs-1">Track Habits</h4>

            <p class="text-muted fs-1">
                Create daily habits and mark them as completed to stay consistent.
            </p>

        </div>

    </div>


    <div class="col-md-3 fs-1">

        <div class="card p-5 fs-1">

            <h4 class="fs-1">Stay Consistent</h4>

            <p class="text-muted fs-1">
                Monitor your streaks and build discipline over time.
            </p>

        </div>

    </div>


    <div class="col-md-3">

        <div class="card p-5">

            <h4 class="fs-1">Visual Analytics</h4>

            <p class="text-muted fs-1">
                View pie charts and consistency graphs to track progress.
            </p>

        </div>

    </div>

</div>


</div>


<footer class="text-center mt-5 mb-3 text-light fs-2">
    <p>© 2026 Smart Habit Tracker</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
